/* Common */

body {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #444444;
    color: #FFFFFF;
    margin: auto;
    font-size: 28px;
}

.home_main,
.about_main,
.contact_main,
.wrapper {
    padding-left: 15%;
    padding-right: 15%;
}

.graphic_design_main {
    padding-left: 20%;
    padding-right: 20%;
}

nav,
button,
h1,
h2,
h3,
.skip {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    margin: 0;
}

h3, p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skip {
    position: absolute;
    top: auto;
    left: -100rem;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    color: #444444;
    font-size: 28px;
    text-decoration: none;
    background-color: #D4B483;
}

/* Site Header: Logo, Navigation bar*/

.sitelogo {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 25%;
}

hr {
    border: 2px solid #D4B483;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail_1 {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.thumbnail_2 {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    padding-left: 0;
    padding-right: 0;
    --bs-gutter-x: 0;
}

nav {
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

li {
    flex-basis: calc(24%);
}

.navbar a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 34px;
    transition: 0.5s;
}

.navbar a:hover {
    transform: scale(0.9);
    transition: 0.25s;
}

.navbar a.active {
    color: white;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Footer */

footer {
    background-color: #333333;
    padding: 1rem;
    margin: auto;
    color: white;
}

.footerlogo {
    text-align: center;

    margin-top: 1rem;
    width: 25%;
}

.copyright {
    color: white;
    margin: 2rem 0 0.5rem 0;
    font-size: 1rem;
}

.socialmedia {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffffff;
}
  
.fa:hover {
      opacity: 0.75;
}
  
/* Home Page */

.home_main {
    margin-bottom: 8rem;
}

.box {
    background-color: #555555;
    width: 60%;
    margin: auto;
    margin-top: 4rem;

}

button {
    background-color: #D4B483;
    border: none;
    color: #444444;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 48px;
}

.button a:hover {
    transform: scale(0.9);
    transition: 0.25s;
}

/* Graphic Design Page */

.graphic_design_main {
    margin-bottom: 8rem;
}

.button_1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 5rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.box_1 {
    text-align: center;
}

/* About Page */
.about_main {
    margin-bottom: 8rem;
}

/* Contact Page */
.contact_main {
    margin-bottom: 4rem;
}

.img-fluid {
    margin: auto;
    width: 100%;
}

input[type=text],
textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    resize: vertical;
}

.button_2 {
    text-align: center;
    width: 75%;
    height: 5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

/* Media Query */

/* Small Devices*/
@media only screen and (max-width: 600px) {

    body {
        font-size: 16px;
    }

    footer h2 {
        margin: 0.5rem 0 0 1rem;
        font-size: 2rem;
    }

    footer p {
        margin: 1rem 0 0.5rem 1rem;
        font-size: 0.75rem;
    }

    button {
        font-size: 1.75rem;
    }

    .navbar a {
        font-size: 20px;
    }
}

/* Medium-large Devices */
@media only screen and (min-width: 600px) {

    body {
        font-size: 22px;
    }

    footer h2 {
        margin: 0.5rem 0 0 1rem;
        font-size: 2.5rem;
    }

    footer p {
        margin: 1rem 0 0.5rem 1rem;
        font-size: 1rem;
    }

    button {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 28px;
    }
}
